.img1 {
  width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bio {
  color: white;
  width: 36.3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 2px solid red;
  padding: 4px;
  background-color: black;
}
.hobbies {
  color: white;
  width: 36.3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 2px solid red;
  padding: 4px;
  background-color: black;
}
.gh {
  color: white;
  width: 36.3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 2px solid red;
  padding: 4px;
  background-color: black;
}
body {
  text-align: center;
}
ul {
  text-align: left;
}
ol {
  display: table;
  margin: auto;
}
.more {
  color: white;
  width: 36.3%;
  float: left;
  margin-left: 0%;

  text-align: center;
  border: 2px solid red;
  padding: 4px;
  background-color: black;
  margin-left: 13.7%;
}
.img2 {
  width: 400px;
  height: auto;
  display: block;
  margin-right: 13.7;
}
 .red {
  color: red;
 }